<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <div>
     <h1 >Team Name: <%= @team[:name] %></h1> </br>
     <label>Coach: <%= @team[:coach] %></label></br>
     <label >Point Guard: <%= @team[:pg] %>></label></br>
     <label>Shooting Guard: <%= @team[:sg] %></label></br>
     <label>Power Forward: <%= @team[:pf] %></label></br>
     <label>Small Forward: <%= @team[:sf] %></label></br>
     <label>Center: <%= @team[:c] %> </label></br>
   </div>
 </body>
</html>
